@import "./reset.css";

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;

    overflow: hidden;
    padding: 0 5vh;

    color: white;
    background-color: #262626;
}

header a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn_contact {
    border: solid 2px white;
    border-radius: 3px;
    padding: 15px 25px;
    font-size: 13px;
    margin: 3vh 0;
}

.logo {
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    margin: 3vh 0;
}

nav li{
    display: inline-block;
    padding: 5vh 5px;
    font-size: 20px;
}